.footer {
  max-width: 1200px;
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.rsschool-logo {
  width: 40px;
  height: 40px;
}