.hard-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress__card {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.progress__label-container {
  display: flex;
  gap: 5px;
  align-items: center;

  i {
    font-size: 30px;
    color: var(--accent-color);
  }

  svg {
    fill: var(--accent-color);
  }
}

.progress__label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.progress__item {
  background-color: var(--progress-bar-color);
  overflow: hidden;
  min-height: 50px;
  height: fit-content;
}

.progress__bar {
  background-color: var(--text-color);
  height: fit-content;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: var(--text-color--reverce);
  font-weight: 500;
  font-size: 0.85rem;
  white-space: wrap;
}