.languages__lang {
  display: flex;
  font-size: 1.5rem;
  color: var(--text-color);
  gap: 3rem;
  padding-bottom: 40px;

  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.languages__certificate:visited,
.languages__certificate {
  color: var(--text-color);
}