:root {
  --bg-color: antiquewhite;
  --text-color: #1d216a;
  --photo-before-color: #939cff;
  --accent-color: #ffb834;
  --social-color: rgba(196, 156, 255, 0.5);
  --text-color--reverce: antiquewhite;
  --progress-bar-color: lightgray;
}

[data-theme='dark'] {
  --bg-color: #191300;
  --text-color: antiquewhite;
  --photo-before-color: #939cff;
  --accent-color: #ffd17d;
  --text-color--reverce: #1d216a;
  --progress-bar-color: #808080;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: auto;
  max-width: 1200px;
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-color);
  z-index: 10;
  transition: background 0.3s ease;
}

.nav {
  width: 100%;
}

.list {
  width: 100%;
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.list__item {
  margin: 0 20px;
  font-size: 1.5rem;
  padding: 10px 0;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}

.anchor-link{
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.anchor-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.anchor-link:hover::after {
  transform: scaleX(1);
}

.theme-button {
  padding: 10px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 30px;
}

.main {
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  max-width: 1200px;
  width: 100%;
  min-width: 0;
  padding: 0 20px;
}

.section-heading {
  position: relative;
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.section-heading::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--text-color);
  width: 100%;
  max-width: 400px;
  bottom: 0;
}

.section {
  width: 100%;
}